
version: '2'

volumes:
  postgres_data: {}
  postgres_backup: {}
  nginx_tls: {}

services:
  postgres:
    image: postgres:9.4
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=tinyauth
      - POSTGRES_PASSWORD=tinyauth
      - POSTGRES_DB=tinyauth

  tinyauth:
    image: tinyauth/tinyauth:dev
    depends_on:
      - postgres
    environment:
      - POSTGRES_USER=tinyauth
      - POSTGRES_PASSWORD=tinyauth
    ports:
      - "5000:5000"

  flask:
    build:
      context: .
      dockerfile: ./docker/flask/Dockerfile
    ports:
      - "8000:8000"
